# Terraform
**/.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan

# Variable files
*.tfvars
*.tfvars.json

# Allow this specific file
!terraform/terraform.tfvars

# Lock file (optional)
.terraform.lock.hcl
**/.terraform.lock.hcl

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
